
body{
	margin: 0;
	overflow-x: hidden;
}
header{
	background-image: url(images/newt.png);
	background-size: auto;
}
header::after {
	content: '';
	display: table;
	clear: both;
}
.container{
	margin: 0 auto;
	width: 80%;
}
.logo{
	float: left;
	padding: 10px 0;
	width: 50px;
	height: 50px;
}
nav{
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	font-family: 'Righteous', cursive;
	position: relative;
}
nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #161616;
	font-size: 16px;
}
nav a:hover{
	color: 	#F8FAFC;
}

.main_word .picture1{
	width: 100%;
	opacity: 0.9;

}

.main_word .sboku{
	text-transform: uppercase;
	font-size: 40px;
	color: #22292F;
	font-family: 'EB Garamond', serif;
	text-align: center;
	margin: 250px 50px 0 50px;
	position	: absolute;
	top			: -90px;
	left		: 280px;
	width		: 100%;
}
.sboku:hover{
	color: #F8FAFC;
	transition: 0.5s;
}
.main_word #main_button{
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'EB Garamond', serif;
	position: relative;
	top: -400px;
	left: 900px;
	border-radius: 4px;
	display: inline-block;
  	background-color: #8795A1;
  	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;

}
#main_button span {
  	padding-left: 5px;
  	cursor: pointer;
  	transition: 0.5s;
}

#main_button span:after {
    content: '\00bb';
  	opacity: 0;
    transition: 0.5s;
}

#main_button:hover span {
  	padding-right: 25px;
}

#main_button:hover span:after {
  	opacity: 1;
  	right: 0;
}

.coverimage1{
  	margin-top: -53px;
  	position: relative;
  	top: 0;
  	left: 0;
  	opacity: 0.85;
  	width: 100%;
  
}
#akademia h1{
	position: absolute;
	top: 850px;
	left: 350px;
	text-transform: uppercase;
	font-size: 40px;
	color: #22292F;
	font-family: 'EB Garamond', serif;
	text-align: center;
}

#carousel img{
	border: 1px solid lightgrey;
	border-radius: 12px;
  	opacity: 0.9;
  	width:150px;
  	height:150px;
  	position: relative;
  	top: -300px;
  	left: 180px;
  	margin: 3px;
}
#carousel{
  	display:flex;
}
#bigImage img{
	border: 1px solid grey;
	border-radius: 12px;
  	opacity: 0.9;
  	width:500px;
  	height:300px;
  	position: absolute;
  	top: 960px;
  	left: 400px;
}

picture{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}


picture a img{
	position: relative;
	top: -158px;
	width: 674.5px;
	height: 100vh;
	margin-top: -4px; ;
}
.titles p{
	font-family: 'EB Garamond', serif;
	font-size: 75px;
	color:white;

}
picture img:hover{
	transform: scale(1.01);
	transition: 0.3s;
	opacity: 0.85;


}
.titles #p1{
	position: relative;
	top: -1200px;
	left: 90px;
}
.titles #p2{
	position: relative;
	top: -1370px;
	left: 820px;
}
.titles #p3{
	position: relative;
	top: -950px;
	left: 150px;
}
.titles #p4{
	position: relative;
	top: -1100px;
	left: 850px;
}
.fourthpage .fourthpage_cover img{
	width: 100%;
	position: relative;
	top: -930px;
	overflow: hidden;
	opacity: 1;
}
.fourthpage .antimags img{
	width: 300px;
	height: 400px;
	position: relative;
	top: -1180px;
	left: 70px;
	margin: 50px;
	border: 5px solid lightgrey;
	opacity: 1;
}
.antimags img:hover{
	transition: 0.5s;
	transform: scale(1.2);
}
.antimags_words p{
	position: absolute;
	top: 3000px;
	left: 200px;
	text-align: center;
	font-size: 65px;
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	color: white;
}
hr {
	height: 3px;
	background: white;
	width: 500px;
}
.ornament{
	position: absolute;
	top: 3000px;
	left: 100px;
	color: red;

}
.ornament2{
	position: absolute;
	top: 3000px;
	left: 750px;
}
#sym{
	position: absolute;
	font-size: 45px;
	top: 2930px;
	color: white;
	left: 655px;
}
.antitext h4{
	font-size: 35px;
	color: white;
	opacity: 0.7;
}
#h41{
	position: absolute;
	top: 3500px;
	left: 150px;
}
#h42{
	position: absolute;
	top: 3500px;
	left: 590px;
}
#h43{
	position: absolute;
	top: 3500px;
	left: 1020px;
}